body {
	background-image: url('../img/carbon.png');
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
	color: #eeeeee;
	text-shadow: #333333 1px 1px 1px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	line-height: 150%;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #ffffff;
	text-shadow: #111111 1px 1px 1px;
}

a:hover {
	text-decoration: underline;
	text-shadow: #ffffff 1px 1px 10px;
}


h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0px;
}

div {
	position: relative;
}

header, footer, nav {
	display: block;
}

div#navigation {
	background-color:rgba(174,255,47,0.1);
	width: 800px;
	border-radius: 10px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -10px;
	padding-top: 5px;
	padding-bottom: 2px;
	z-index: 20;
}

div#navigation li {
	float: left;
	margin-left: 10px;
}

div#header {
	background-image: url('../img/panoramas/paris_grand.png');
	height: 200px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius:5px;
	z-index: 100;
}

div#header h1 {
	margin-right: 10px;
	text-align: right;
	padding-top: 15px;
	color: #111111;
	text-shadow: #ffffff 2px 2px 1px;
}

div#footer {
	position: fixed;
	top: 2px;
	right: 5px;
	font-size: 0.7em;
	font-weight: normal;
	padding: 3px;
	border-radius: 2px;
	z-index: 1000;
}

div#nav_portfolio {
	left: -700px;
	opacity: 0;
}

div#navigation .subnavi {
	height: 0px;
}

div#navigation .subnavi li {
	float: none;
	white-space: nowrap;
	margin-left: 0px;
	padding: 5px;
}

div#navigation .subnavi div {
	background: url('../img/carbon.png') ;	
	padding: 5px;
	border-radius: 10px;
	z-index: 500;
	border: solid 1px #666666;
	transition: left 1s linear, opacity 1s ease-in;
}

div#a_portfolio:hover div#nav_portfolio {
	left: 0px;
	opacity: 0.9;
}

div#main {
	width: 100%;
	position: absolute;
	top: 300px;
}

div#contents {
	width: 770px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	border-radius: 10px;
	margin-bottom: 20px;
}

div#contents img {
	margin: 15px;
}

div#contents h1 {
	padding-bottom: 30px;
	text-shadow: #ffffff 1px 1px 10px;
}

div#contents a.external {
	background: url('../img/famfamfam/link_go.png') no-repeat;
	padding-left: 18px;
}

.top30 {
	position:relative;
	top:30px;
}

.h100left {
	height:100px;
	float:left;
}

h100left img {
	height: 64px;
	width: 64px;
}

img.osicon {
	float:left; 
	position:relative; 
	top:-10px;
}









