div#header h1 {
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));
}

div#contents {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
}

div#navigation .subnavi div {
	-webkit-transition: left 0.5s linear, opacity 0.5s ease-in 0.5s;
}

img.reflect {
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(black));
}